@media(orientation: landscape){
    body{
        .outer{
    border: 2px, solid, black;
    padding: 10px;
    column-gap: 15px;
    row-gap: 20px;
    display:flex;
    grid-template-columns: 1px,3px,2px;
    grid-template-rows: 1fr,2fr,1fr;
    width: auto;
    background-color: aliceblue;
}
    flex-direction: row;
    }

}
@media(orientation: portrait){
    body{
       .outer{
    border: 2px, solid, black;
    padding: 10px;
    column-gap: 15px;
    row-gap: 20px;
    display:flex;
    grid-template-columns: 1px,3px,2px;
    grid-template-rows: 1fr,2fr,1fr;
    background-color: aliceblue;
}
flex-direction: column;
    }

}
