/* h1{
    color: blue;
}
body{
    background-color: rgb(42, 220, 214);
} */
@media(orientation: landscape){
    body{
        background-color: rgb(177, 236, 38);
    }
    h1{
        color: red;
    }

}
@media(min-width:800px){
    body{
        background-color: rgb(255, 87, 34);
    }
    h1{
        color: green;
    }

}
.outer{
    border: 2px, solid, black;
    padding: 10px;
    column-gap: 15px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: 1px,3px,2px;
    grid-template-rows: 1fr,2fr;
    width: 500px;
}
.inner{
    border: 2px, solid,black;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}