td{
    width: 100px;
    height: 100px;
}
tr:nth-child(even) td:nth-child(even){
    background-color: white;
} 
tr:nth-child(odd) td:nth-child(odd){
    background-color: white;
}
tr:nth-child(even) td:nth-child(odd){
    background-color: black;
}
tr:nth-child(odd) td:nth-child(even){
    background-color: black;
}