
    .outer{
        border: 2px solid black;
        padding: 10px;
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .inner{
        border: 2px solid black;
        padding-left: 5px;
        row-gap: 10px;
        text-align: center;
    }

@media(min-width:600px){

        .outer{
        grid-template-columns:2fr 3fr;
        }
    
}
@media(min-width:900px){
        .outer{
        grid-template-columns:2fr 1fr 3fr;
        }
}